Package: com.debpack.ui
Name: DebPack 界面版
Version: 0.1.1
Architecture: iphoneos-arm
Description: 勾选插件，一键导出 deb 与配置 plist 到手机文件
Maintainer: debpack
Author: debpack
Section: Utilities
Depends: dpkg, com.debpack.cli
